#block-text.block
  .content
    %h2.title What is Merlin?
    .inner
      %p.first
        Merlin is a Padrino webapp that allows you to define virtualmachines on ESXi hosts and deploy it.
        All virtualmachines have a DHCP lease with a PXE path associated, ready for a installation on startup.
